<div id="settings-container">
  <div id="profile-info">
    <h1>Ustawienia</h1>
  </div>
  <div id="tab-groups">
    <mat-tab-group>
      <mat-tab label="profile">

        <ng-template mat-tab-label>
          <mat-icon>person</mat-icon>
          Profil
        </ng-template>
        <ng-template matTabContent>
          <app-profile-settings></app-profile-settings>
        </ng-template>

      </mat-tab>
      <mat-tab label="settings">
        <ng-template mat-tab-label>
          <mat-icon>settings</mat-icon>
          Ustawienia
        </ng-template>
        <ng-template matTabContent>
          <app-main-settings></app-main-settings>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
