@import '../../../styles/colors.scss';

#settings-container {
  padding: 5px 10px;
  #profile-info {
    height: 50px;
  }
  #tab-groups{
    mat-tab-group{
      mat-tab{

      }
    }
  }
}
mat-icon{
  margin-right: 5px;
}

