<div id="settings-container">
  <div id="profile-info">
    <h1>Ustawienia</h1>
  </div>
  <div id="tab-groups">
    <mat-tab-group>
      <mat-tab>
        <!-- <fa-icon [icon]="['fas', 'user-alt']"></fa-icon> -->

        <ng-template mat-tab-label>
            <mat-icon>person</mat-icon>
          Profil
        </ng-template>
        <h1>Best pasta restaurants</h1>
        <p>...</p>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <!-- <fa-icon [icon]="['fas', 'cog']"></fa-icon> -->
          <mat-icon>settings</mat-icon>
          Ustawienia
        </ng-template>
        <h1>Terrible sushi restaurants</h1>
        <p>...</p>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
