<div class="mailBox">
  <div>
    <div class="mail">
      <div class="marker"></div>
      <div class="options">
        <input #check type="checkbox">
        <!-- <div *ngIf="mail.subMailsId.length > 0" class="expandBtn" (click)="$event.stopPropagation()">
          <i class="fas fa-caret-right"></i>
        </div> -->
      </div>
      <div class="info">
        <!-- <div class="title">{{mail.subject}}</div> -->
        <!-- <div class="address">{{mail.from}}</div> -->
        <!-- <div class="content">{{mail.content}}</div> --> <div class="title">title</div>
        <div class="address">address@gmail.com</div>
        <div class="content">content content</div>
      </div>
      <div class="attach"></div>
    </div>
  </div>
</div>