<div id="survey-module">
  <mat-sidenav-container id="wrapper">

    <mat-sidenav id="sidenav" #sidenav [mode]="isLargeScreen() ? 'side': 'over'" [(opened)]="isSidebarOpened">
      <app-survey-search></app-survey-search>
      <router-outlet></router-outlet>
      <!-- name="sidebar" -->
    </mat-sidenav>
    <mat-sidenav-content id="content">
      <app-manage-bar></app-manage-bar>
      <app-survey-list (loading)="setLoader()"></app-survey-list>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
