<div id="upload-container">
  <p-fileUpload #fileInput name="file[]" multiple="multiple" maxFileSize="3145728" (change)="onFileSelect($event)"
    customUpload="true" (uploadHandler)="uploadFiles($event)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
    chooseLabel="Dodaj plik" uploadLabel="Prześlij pliki" cancelLabel="Anuluj">
    <ng-template pTemplate="content">
      <span id="drag-info" *ngIf="fileInput.files.length < 1">
        <i class="fas fa-paperclip"></i>
        <span> Przeciągnij plik tutaj </span>
      </span>
    </ng-template>
    <ng-template let-file let-i="index" pTemplate="file">
      <div class="attachment-field">
        <div class="attachment">
          <div class="icon">
            <!-- <img [src]="file.objectURL"> -->
            <fa-icon [icon]="['fas', 'file-excel']"></fa-icon>
          </div>
          <div class="information">
            <div class="name">{{file.name}}</div>
            <div class="size">{{formatSize(file.size)}}</div>
          </div>
          <div class="delete">
            <!-- <button type="button" icon="fa fa-times" pButton (click)="removeAttachment($event, i)">
            </button> -->
            <button mat-icon-button>
              <fa-icon class="delete" [icon]="['fas','times']" (click)="removeAttachment($event, i)"></fa-icon>
            </button>
          </div>
        </div>
        <div class="progress-bar">
          <div #progress class="percent"></div>
        </div>
        <div>
        </div>
      </div>
    </ng-template>
  </p-fileUpload>

</div>
