<div id="bar" #nav>
  <div id="container">
    <!-- <div id="sidenavToggler" class="catalogListToggler" (click)="openSidebar()"> -->
    <!-- *ngIf="isLogged === true" -->
    <!-- <fa-icon [icon]="['fas','bars']"></fa-icon>
    </div> -->
    <div id="logo">
      <img src="./../../../assets/logo-wsei.png" alt="logo WSEI">
    </div>
  </div>
  <!-- *ngIf="isModuleOpened === true" -->

  <ul id="menu" *ngIf="isLogged === false">
    <li class="menu-item" [routerLink]="['/auth/login']">Logowanie</li>
    <li class="menu-item" [routerLink]="['/info/student']">Student</li>
    <li class="menu-item" [routerLink]="['/info/graduate']">Absolwent</li>
    <li class="menu-item" [routerLink]="['/info/employer']">Dla Firm</li>
    <li class="menu-item" [routerLink]="['/info/contact']">Kontakt</li>
  </ul>
  <!-- <button ></button> -->

  <div id="profile-container" *ngIf="isLogged === true">
    <div id="admin-menu" *ngIf="showCreatorMenu">
      <button mat-raised-button id="save" (click)="saveSurvey()">ZAPISZ</button>
    </div>
    <div id="userInfo" class="clickable" [matMenuTriggerFor]="userInfo" #menuTrigger="matMenuTrigger">
      <!-- <div id="userDisplayName">{{account?.name}} {{account?.surname}}</div> -->
      <img src="./../../../assets/profile-image.png">
    </div>
    <mat-menu #userInfo="matMenu" id="sth" [overlapTrigger]="false">
      <app-user-info></app-user-info>
    </mat-menu>
  </div>
</div>
