@import '../../../styles/colors.scss';

#bar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
  // box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  #container {
    display: flex;
    align-items: center;
    #sidenavToggler {
      color: $primary;
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      cursor: pointer;
    }
    #logo {
      user-select: none;
      transform: scale(0.65);
      margin: 0px 25px;
      img {
        width: 200px;
        height: 60px;
      }
    }
  }
  #menu {
    white-space: nowrap;
    list-style: none;
    padding-right: 15px;
    .menu-item {
      user-select: none;
      display: inline-block;
      margin: 0px 10px;
      font-size: 15px;
      color: $grey;
      cursor: pointer;
      padding: 15px 5px;
      border-radius: 3px;
      outline: none;
    }
    .menu-item:hover {
      background-color: $primary;
      color: white;
    }
  }

  #profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    #survey-buttons {
      padding-right: 10px;
    }
    #userInfo {
      position: relative;
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-evenly;
      align-items: center;
      cursor: pointer;
      // color: $white;

      height: 100%;
      padding-right: 5px;
      padding-left: 5px;

      #userDisplayName {
        height: auto;
        margin: 5px;
      }

      img {
        object-fit: cover;
        user-select: none;
        width: 40px;
        height: 40px;
        margin: 5px;

        border-radius: 50%;
        border: 3px solid $primary;
      }

      app-user-info {
        display: none;
        position: absolute;

        left: 0px;
        top: 100%;
      }
    }
    #userInfo.mat-menu-content {
      background-color: #000000 !important;
    }

    #userInfo.active {
      // background-color: rgba($accent, 0.5);

      app-user-info {
        display: block;
      }

      img {
        display: none;
      }
    }
  }
}

@media (max-width: 800px) {
  #bar {
    #container {
      #logo {
        margin-left: 20px;
      }
    }

    #menu {
      .menu-item {
        font-size: 13px;
        margin: 5px;
      }
    }
  }
}
