<div id="bar" #nav>
  <div id="container">
    <div id="sidenavToggler" class="catalogListToggler" *ngIf="isLogged === true" (click)="openSidebar()">
      <fa-icon [icon]="['fas','bars']"></fa-icon>
    </div>
    <div id="logo">
      <img src="./../../../assets/logo-wsei.png" alt="logo WSEI">
    </div>
  </div>
  <ul id="menu" *ngIf="isLogged === false">
    <li class="menu-item" [routerLink]="['/auth/login']">Logowanie</li>
    <li class="menu-item" [routerLink]="['/info/student']">Student</li>
    <li class="menu-item" [routerLink]="['/info/graduate']">Absolwent</li>
    <li class="menu-item" [routerLink]="['/info/employer']">Dla Firm</li>
    <li class="menu-item" [routerLink]="['/info/contact']">Kontakt</li>
  </ul>
  <div id="profile-container" *ngIf="isLogged === true">
    <ul id="menu" *ngIf="showSendButton === false">
      <li class="menu-item" [routerLink]="['/app/admin']">Ankiety</li>
      <!-- <li class="menu-item" [routerLink]="['/info/student']">Student</li>
          <li class="menu-item" [routerLink]="['/info/graduate']">Absolwent</li>
          <li class="menu-item" [routerLink]="['/info/employer']">Dla Firm</li>
          <li class="menu-item" [routerLink]="['/info/contact']">Kontakt</li> -->
    </ul>
    <div id="survey-buttons">
      <fa-icon [icon]="['far', 'eye']" *ngIf="showCreatorButton" matTooltip="{{info.show}}" matTooltipPosition="below"
        (click)="showSurvey()"></fa-icon>
      <fa-icon [icon]="['far', 'save']" *ngIf="showCreatorButton" matTooltip="{{info.save}}" matTooltipPosition="below"
        (click)="saveSurvey()"></fa-icon>
      <fa-icon [icon]="['fas', 'pen']" *ngIf="showSendButton" matTooltip="{{info.edit}}" matTooltipPosition="below"
        (click)="editSurvey()"></fa-icon>
      <button mat-button id="save" *ngIf="showCreatorButton" (click)="sendSurvey()">WYŚLIJ</button>
    </div>
    <div id="userInfo" class="clickable" [matMenuTriggerFor]="userInfo" #menuTrigger="matMenuTrigger" *ngIf="showSendButton === false">
      <!-- <div id="userDisplayName">{{account?.name}} {{account?.surname}}</div> -->
      <img src="./../../../assets/profile-image.png">
    </div>
    <mat-menu #userInfo="matMenu" id="sth" [overlapTrigger]="false">
      <app-user-info></app-user-info>
    </mat-menu>
  </div>
</div>
