<div id="bar">
  <div id="container">
    <div id="sidenavToggler" class="catalogListToggler" (click)="openSidebar()">
      <!-- <i class="fas fa-bars"></i> -->
      <fa-icon [icon]="['fas','bars']"></fa-icon>
    </div>
    <div id="logo">
      <img src="./../../../assets/logo-wsei.png" alt="logo WSEI">
    </div>
  </div>
  <!-- *ngIf="isModuleOpened === true" -->

  <ul id="menu">
    <!-- <li class="menu-item">Strona główna</li> -->
    <li class="menu-item" [routerLink]="['/auth/login']">Logowanie</li>
    <li class="menu-item" [routerLink]="['/info/student']">Student</li>
    <li class="menu-item" [routerLink]="['/info/graduate']">Absolwent</li>
    <li class="menu-item" [routerLink]="['/info/employer']">Dla Firm</li>
    <li class="menu-item" [routerLink]="['/info/contact']">Kontakt</li>
  </ul>
</div>
