@import '../../../../styles/colors.scss';

#outer-container {
  background-color: $primary-light;
  height: 100%;
  #container {
    background-color: $primary-light;
    padding-bottom: 100px;
    #creator-container {
      display: flex;
      width: 770px;
      background-color: white;
      margin: 0 auto;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
      form {
        width: 100%;
        #form-title {
          padding: 0 40px;
          mat-form-field {
            margin-top: -1em;
            font-size: 34px;
            width: 100%;
            color: black;
          }
        }
        #questions-container {
          .question-field {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);


            // &.sortable.dragging {
            //   visibility: hidden;
            //   // background: none;
            //   border: 1px dashed black;
            //   color: transparent;
            // }

            // .grip-container {
            //   width: 100%;
            //   display: flex;
            //   justify-content: center;
            //   align-items: center;
            //   padding: 20px 0;
            //   cursor: move;
            //   .grip {
            //     color: $grey-light;
            //   }
            // }

            .question {
              user-select: text;
              padding: 10px 30px;
              .select-container {
                display: flex;
                mat-form-field {
                  width: 47%;
                  margin: 10px;
                  mat-select {
                    font-size: 13px;
                  }
                }
              }

              #field-data {
                padding-bottom: 20px;
                .field-loop {
                  .choice {
                    display: flex;
                    align-items: center;
                    // answer fields
                    mat-form-field {
                      width: 100%;
                      font-size: 13px;
                    }
                    // multiple-choice
                    .checkbox {
                      width: 100%;
                      display: flex;
                      align-items: center;
                      .right {
                        display: inline-block;
                        margin-right: 8px;
                      }
                    }
                    // linear-scale
                    .cont {
                      width: 47%;
                      margin: 0 13px;
                    }
                  }
                  .loop {
                    display: flex;
                    flex-direction: column;
                    .cont {
                      display: flex;
                      width: 100%;
                      mat-form-field {
                        width: 90%;
                        margin: 0 15px;
                      }
                    }
                    .center {
                      display: flex;
                      justify-content: center;
                    }
                  }
                  .form {
                    display: flex;
                    .cont {
                      margin: 0px 10px;
                      width: 50%;
                      .loop {
                        .checkbox {
                          width: 100%;
                          .right {
                            display: inline-block;
                            margin-right: 8px;
                          }
                          mat-form-field {
                            width: 87%;
                          }
                        }
                      }
                      mat-form-field {
                        width: 87%;
                        font-size: 13px;
                      }
                      div {
                        display: flex;
                        align-items: center;
                        mat-form-field {
                          font-size: 13px;
                        }
                      }
                    }
                  }
                  .answer {
                    mat-form-field {
                      width: 100%;
                    }
                  }
                  .dropdown {
                    div {
                      display: flex;
                      align-items: center;
                      mat-form-field {
                        width: 100%;
                        font-size: 13px;
                      }
                    }
                  }
                }
              }
            }
          }

          .menu-container {
            margin: 10px;
            display: flex;
            justify-content: space-between;
            .add,
            .menu {
              fa-icon {
                font-size: 20px;
                color: $grey;
                cursor: pointer;
              }
            }
            .menu {
              fa-icon {
                margin: 0 15px;
              }
            }
          }
        }
      }
    }
  }
}

.break {
  height: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin: 8px;
}
.delete {
  float: right;
  cursor: pointer;
  color: $grey-light;
  font-size: 20px;
  margin: 0 10px;
}
.standalone {
  margin-left: 27px;
}
.add {
  mat-form-field {
    font-size: 13px;
  }
}

// .box {
//   background: #bada55;
//   border: 1px solid black;
//   padding: 10px 20px;
//   display: inline-block;

//   &.dragging {
//     background: coral;
//   }

//   &.sortable.dragging {
//     background: none;
//     border: 1px dashed black;
//     color: transparent;
//   }
// }
