<div class="surveyBox" [routerLink]="['./view']">
  <div>
    <div class="survey">
      <div class="marker"></div>
      <div class="options">
        <input #check type="checkbox">
        <!-- <div *ngIf="survey.subsurveysId.length > 0" class="expandBtn" (click)="$event.stopPropagation()">
          <i class="fas fa-caret-right"></i>
        </div> -->
      </div>
      <div class="info">
        <!-- <div class="title">{{survey.subject}}</div> -->
        <!-- <div class="address">{{survey.from}}</div> -->
        <!-- <div class="content">{{survey.content}}</div> -->
        <div class="title">{{survey.Form_Title}}</div>
        <div class="address">{{survey.Created_Date}}</div>
        <div class="content">{{survey.Created_Time}}</div>
      </div>
      <div class="attach"></div>
    </div>
  </div>
</div>
