#auth-container {
  #info {
    height: 160px;
    width: 100%;
    background: url(./../../assets/1920-156.jpg) no-repeat center;
    #background {
      height: 100%;
      width: 100%;
      background: rgba(58, 61, 65, 0.8);
    }
  }
}
