<div id="manageBar">
  <div id="container">
    <div id="workspace">
      <span id="workspace-name">Grupa ankiet 1</span>
    </div>
    <div id="buttonsContainer">
      <button mat-raised-button class="element" [routerLink]="['/app/admin/create/']">
        <div>
          <fa-icon class="icon" [icon]="['fas','plus']"></fa-icon>

          <span class="txt">Stwórz nową ankietę</span>
        </div>
      </button>
      <!-- <button mat-raised-button class="element" [routerLink]="'/app/admin/viewform'">
        <fa-icon class="icon" [icon]="['fas','plus']"></fa-icon>

        <span class="txt">zobacz</span>
      </button> -->
      <!-- <button mat-raised-button class="element" [routerLink]="'/app/admin/list'">
        <fa-icon class="icon" [icon]="['fas','plus']"></fa-icon>

        <span class="txt">list</span>
      </button> -->
    </div>
  </div>
</div>
