#survey-container {
  padding: 15px 0;
  #surveyList {
    #container {
      display: flex;
      align-items: center;
      cursor: pointer;
      app-survey-tile {
        width: 90%;
      }
     button{
       margin: 0 3px;
       display: flex;
       justify-content: center;
       align-items: center;
     }
    }
    #container:hover {
      background-color: #eaeaea;
    }
  }
}
