<div id="container">
  <p-progressBar mode="indeterminate" *ngIf="loading === true"></p-progressBar>
  <form #pass="ngForm" (ngSubmit)=onSubmit(pass) [formGroup]="passForm">
    <div id="header">
      <span>
        Zmień hasło</span>

    </div>
    <div id="form-container">
      <mat-form-field>
        <input matInput autocomplete="email" placeholder="Email" type="email" id="email" formControlName="email">
        <!-- <mat-error *ngIf="inputError(email)">{{emailErrorStr}}</mat-error> -->
      </mat-form-field>

      <div class="btnBox">
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </div>
      <!-- <div class="additionalLink" (click)="runPasswordRecovery()">Zapomniałeś hasła?</div> -->

    </div>
  </form>
</div>
