@import '../../../../styles/colors';

#pRHeader
{
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 26px;
}

.btnBox
{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;

  button
  {
    margin: 5px;
  }
}
