#survey-container {
  padding: 15px 0;
  #surveyList {
    #container {
      display: flex;
      align-items: center;
      app-survey-tile {
        width: 90%;
      }
    }
    #container:hover {
      background-color: #eaeaea;
    }
  }
}
