#appContainer {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  align-content: stretch;

  width: 100vw;
  height: 100vh;
}

#menuBar {
  flex: 0 1 auto;
  z-index: 100;
  height: 70px;
}

#mainContainer {
  flex: 1 1 auto;
  z-index: 50;
  position: relative;
}
