<div id="webmail">
  <mat-sidenav-container id="wrapper">

    <mat-sidenav id="sidenav" #sidenav mode="side" [(opened)]="isSidebarOpened">
      <!-- [mode]="isLargeScreen() ? 'side': 'over'" [(opened)]="isSidebarOpened" -->
      <!-- <app-search-mail [class.show]="show"></app-search-mail> -->
      <app-survey-search></app-survey-search>
      <app-group-list></app-group-list>
      <!-- <app-catalogs-list [class.show]="show"></app-catalogs-list> -->
    </mat-sidenav>
    <mat-sidenav-content id="content">
      <app-manage-bar></app-manage-bar>
      <app-survey-list></app-survey-list>
      <div id="mailSpace">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
