@import '../../../styles/colors.scss';
#survey-module {
  width: 100%;
  height: 100%;
  #wrapper {
    height: 100%;
    #sidenav {
      overflow-x: hidden;
      display: grid;
      grid-template-rows: 40px auto;
      grid-template-columns: 250px;
      border-right: 1px solid rgba(0, 0, 0, 0.09);
      app-survey-search {
        grid-column: 1;
        grid-row: 1;
      }
      app-group-list {
        grid-column: 1;
        grid-row: 2;
      }
    }
    #content {
      display: grid;
      grid-template-rows: 80px auto;
      grid-template-columns: 100%;
      app-survey-list {
        overflow-y: overlay;
        padding: 0 30px 20px 30px;
      }
      #mailSpace {
        overflow-y: overlay;
        position: relative;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 1100px) {
  #survey-module {
    #mailSpace {
      // grid-column-start: 3;
      // grid-column-end: 5;
      overflow-y: overlay;
    }
    #wrapper {
      // #sidenav {
        // grid-template-columns: 215px;
      // }
      #content {
        // grid-template-rows: 40px auto;
        // grid-template-columns: 40% 60%;
        // app-manage-bar {
        //   grid-column-start: 1;
        //   grid-column-end: 3;
        // }
        // app-mail-list {
        //   grid-column: 1;
        // }
        #mailSpace {
          grid-column: 2;
        }
      }
    }
  }
}
@media (max-width: 660px) {
  #survey-module {
    #wrapper {
      #content {
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        #mailSpace {
          grid-column: 1 / span 2;
          grid-row: 2;
          background-color: white;
        } // app-mail-list {
        //   grid-column: 1 / span 2;
        // }
      }
    }
  }
}
