@import '../../../../styles/colors.scss';
#outer-container {
  background-color: $primary-light;
  height: 100%;
  #container {
    background-color: $primary-light;
    padding-bottom: 100px;
    #creator-container {
      display: flex;
      background-color: white;
      margin: 0 15%;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
      form {
        width: 100%;
        #form-title {
          padding: 0 40px;
          mat-form-field {
            margin-top: -1em;
            font-size: 34px;
            width: 100%;
            color: black;
          }
        }
        #questions-container {
          .question-field {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            padding: 10px 30px;
            .select-container {
              display: flex;
              mat-form-field {
                width: 47%;
                margin: 10px;
                mat-select {
                  font-size: 13px;
                  div {
                    // mat-option{
                    // }
                  }
                }
              }
            }
            #field-container {
              padding-bottom: 20px;
              // #field-container mat-form-field {
              //   font-size: 12px;
              // }
              #field-data {
                .loop {
                  .choice {
                    .formArray {
                      .choice-loop {
                        display: flex;
                        align-items: center;
                        mat-form-field {
                          width: 100%;
                        }
                        .checkbox {
                          width: 100%;
                          display: flex;
                          align-items: center;
                          .right {
                            display: inline-block;
                            margin-right: 8px;
                          }
                        }
                      }
                      .loop {
                        display: flex;
                        flex-direction: column;
                        .cont {
                          display: flex;
                          width: 100%;
                          mat-form-field {
                            width: 90%;
                            margin: 0 15px;
                          }
                        }
                      }
                    }
                    .center {
                      display: flex;
                      justify-content: center;
                    }
                  }
                  .form {
                    display: flex;
                    .cont {
                      margin: 0px 10px;
                      width: 50%;
                      .loop {
                        .checkbox {
                          width: 100%;
                          .right {
                            display: inline-block;
                            margin-right: 8px;
                          }
                          mat-form-field {
                            width: 87%;
                          }
                        }
                      }
                      mat-form-field {
                        width: 87%;
                      }
                      div {
                        display: flex;
                        align-items: center;
                      }
                    }
                  }
                  .answer {
                    mat-form-field {
                      width: 100%;
                    }
                  }
                }
              }
            }
            .menu-container {
              margin: 10px;
              display: flex;
              justify-content: space-between;
              .add,
              .menu {
                fa-icon {
                  font-size: 20px;
                  color: $grey;
                  cursor: pointer;
                }
              }
              .menu {
                fa-icon {
                  margin: 0 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.break {
  height: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin: 8px;
}
.delete {
  float: right;
  cursor: pointer;
  color: $grey;
  font-size: 30px;
  margin: 0 10px;
}
