<div id="container">
  <div id="creator-container">
    <button (click)="addQuestion()">
      Add Question</button>
    <form [formGroup]="invoiceForm">
      <div id="form-title">
        <mat-form-field appearance="standard">
          <input matInput placeholder="Nazwa formularza" formControlName="Form_Title" />
        </mat-form-field>
      </div>
      <div id="questions-container" formArrayName="QuestionData">
        <div *ngFor="let question of invoiceForm.controls['QuestionData'].controls; let i = index" [formGroupName]="i" class="question-field">

          <div class="select-container">
            <mat-form-field appearance="standard">
              <input matInput placeholder="Pytanie" formControlName="question" />
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-select placeholder="typ kontrolki" formControlName="select" name="control">
                <div *ngFor="let group of selects">
                  <mat-option *ngFor="let control of group.control" [value]="control.value" (click)="changeControl(question.controls.FieldData, question.value.select)">
                    {{control.viewValue}}
                  </mat-option>
                  <div class="break"></div>
                </div>
              </mat-select>
            </mat-form-field>

          </div>

          <div id="field-container">
            <div id="field-data" formArrayName="FieldData" [ngSwitch]="question.value.select">
              <div id="loop" *ngFor="let field of question.controls.FieldData.controls; let j = index" [formGroupName]="j">

                <div class="choice answer" *ngSwitchCase="'short-answer'">
                  <mat-form-field appearance="standard">
                    <input matInput type="text" formControlName="input" placeholder="Twoja odpowiedź">
                  </mat-form-field>
                </div>

                <div class="choice answer" *ngSwitchCase="'long-answer'">
                  <mat-form-field appearance="standard">
                    <textarea matInput [rows]="1" type="text" formControlName="textarea" placeholder="Twoja odpowiedź" matTextareaAutosize></textarea>
                  </mat-form-field>
                </div>

                <div class="choice" *ngSwitchCase="'single-choice'">
                  <div class="formArray" formArrayName="single_choice">
                    <button (click)="addSingleMultipleField(field.controls['single_choice'])">add</button>
                    <div class="choice-loop" *ngFor="let choice of field.controls['single_choice'].controls; let k = index" [formGroupName]="k">
                      <mat-radio-group formControlName="value" name="radio">
                        <!-- (change)="updateSelection(field.controls['single_choice'], choice, $event)" -->
                        <mat-radio-button></mat-radio-button>
                      </mat-radio-group>
                      <mat-form-field appearance="standard">
                        <input matInput type="text" [value]="choice.value.viewValue" (keyup)="changeSingleValue(choice, $event)" (keydown)="changeSingleValue(choice, $event)"
                          formControlName="viewValue" maxlength="20">
                      </mat-form-field>
                      <button (click)="removeField(k, field.controls['single_choice'])" class="delete">delete field
                      </button>
                    </div>
                  </div>
                </div>

                <div class="choice" *ngSwitchCase="'multiple-choice'">
                  <div class="formArray" formArrayName="multiple_choice">
                    <button (click)="addSingleMultipleField(field.controls['multiple_choice'])">add</button>
                    <div class="choice-loop" *ngFor="let choice of field.controls['multiple_choice'].controls; let k = index" [formGroupName]="k">
                      <div class="checkbox" name="check">
                        <!-- (change)="updateSelection(field.controls['multiple_choice'], choice, $event)" -->
                        <div class="right">
                          <mat-checkbox formControlName="value"></mat-checkbox>
                        </div>
                        <mat-form-field appearance="standard">
                          <input matInput type="text" [value]="choice.value.viewValue" (keyup)="changeSingleValue(choice, $event)" (keydown)="changeSingleValue(choice, $event)"
                            formControlName="viewValue" maxlength="20">
                        </mat-form-field>
                        <button (click)="removeField(k, field.controls['multiple_choice'])" style="background-color: red">delete
                          field
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="choice form" *ngSwitchCase="'single-selection-grid'">
                  <div id="row-container" class="cont" formArrayName="rows">
                    <button (click)="addSingleSelectionInput(field.controls['rows'])">add</button>
                    <div *ngFor="let input of field.controls['rows'].controls; let k = index" [formGroupName]="k">
                      <mat-form-field appearance="standard">
                        <input matInput type="text" formControlName="input" placeholder="Twoja odpowiedź">
                      </mat-form-field>
                      <button (click)="removeField(k, field.controls['rows'])" style="background-color: red">delete
                          field
                        </button>
                    </div>
                  </div>
                  <div id="column-container" class="cont" formArrayName="columns">
                    <button (click)="addSingleSelectionField(field.controls['columns'])">add</button>
                    <div *ngFor="let radio of field.controls['columns'].controls; let l = index" [formGroupName]="l">
                      <mat-radio-group formControlName="value" name="radio">
                        <mat-radio-button></mat-radio-button>
                      </mat-radio-group>
                      <mat-form-field appearance="standard">
                        <input matInput type="text" [value]="radio.value.viewValue" (keyup)="changeSingleValue(radio, $event)" (keydown)="changeSingleValue(radio, $event)"
                          formControlName="viewValue" maxlength="20">
                      </mat-form-field>
                      <button (click)="removeField(l, field.controls['columns'])" style="background-color: red">delete
                          field
                        </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="menu-container">
            <button (click)="removeQuestion(i)" style="background-color: red">delete question</button></div>
        </div>
      </div>
    </form>
    <br>
    <pre>{{invoiceForm.value | json }}</pre>
  </div>
</div>
