<div id="outer-container">
  <div id="container">
    <div id="creator-container">
      <form [formGroup]="invoiceForm">
        <div id="form-title">
          <mat-form-field appearance="standard">
            <input matInput placeholder="Nazwa formularza" formControlName="Form_Title" />
          </mat-form-field>
        </div>
        <div id="questions-container" formArrayName="QuestionData">
          <div *ngFor="let question of invoiceForm.controls['QuestionData'].controls; let i = index" [formGroupName]="i" class="question-field">

            <div class="select-container">
              <mat-form-field appearance="standard">
                <input matInput placeholder="Pytanie" formControlName="question" />
              </mat-form-field>
            </div>

            <div id="field-data" formArrayName="FieldData" [ngSwitch]="question.value.select">
              <div class="field-loop" *ngFor="let field of question.controls.FieldData.controls; let j = index" [formGroupName]="j">

                <div class="choice answer" *ngSwitchCase="'short-answer'">
                  <mat-form-field appearance="standard">
                    <input matInput type="text" formControlName="input" placeholder="Twoja odpowiedź">
                  </mat-form-field>
                </div>

                <div class="choice answer" *ngSwitchCase="'long-answer'">
                  <mat-form-field appearance="standard">
                    <textarea matInput [rows]="1" type="text" formControlName="input" placeholder="Twoja odpowiedź" matTextareaAutosize></textarea>
                  </mat-form-field>
                </div>

                <div class="choice" *ngSwitchCase="'dropdown-menu'">
                  <mat-form-field appearance="standard">
                    <input matInput type="text" formControlName="input" maxlength="20" #inputs>
                  </mat-form-field>
                </div>

                <div class="choice" *ngSwitchCase="'linear-scale'">
                </div>

                <div class="choice" *ngSwitchCase="'single-choice'">
                  <mat-radio-group formControlName="value" name="radio">
                    <mat-radio-button></mat-radio-button>
                  </mat-radio-group>
                  <mat-form-field appearance="standard">
                    <input matInput type="text" formControlName="viewValue" maxlength="20" #inputs>
                  </mat-form-field>
                </div>

                <div class="choice" *ngSwitchCase="'multiple-choice'">
                  <div class="checkbox" name="check">
                    <div class="right">
                      <mat-checkbox formControlName="value"></mat-checkbox>
                    </div>
                    <mat-form-field appearance="standard">
                      <input matInput type="text" formControlName="viewValue" maxlength="20" #inputs>
                    </mat-form-field>
                  </div>
                </div>

                <div class="form" *ngSwitchCase="'single-grid'">
                  <div class="columns">
                    <div class="column">
                    </div>
                    <div class="column" *ngFor="let column of field.controls.rows.controls[j].controls.column.controls">
                      <span>{{column.value.viewValue}}</span>
                    </div>
                  </div>
                  <div formArrayName="rows" class="rows">
                    <div *ngFor="let row of field.controls.rows.controls; let k = index" [formGroupName]="k" class="row">
                      <div formArrayName="column" class="row-container">
                        <div class="row-el">
                          <span>{{row.value.input}}</span>
                        </div>

                        <div *ngFor="let column of row.controls.column.controls; let l = index" [formGroupName]="l" class="row-el">
                          <mat-radio-group formControlName="value" name="{{k}}" (change)="updateSelection(row.controls.column.controls, column.controls.value ,$event)">
                            <mat-radio-button></mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form" *ngSwitchCase="'multiple-grid'">
                  <div id="row-container" class="cont" formArrayName="rows">
                    <div *ngFor="let input of field.controls['rows'].controls; let k = index" [formGroupName]="k">
                      <mat-form-field appearance="standard">
                        <input matInput type="text" formControlName="input" placeholder="Twoja odpowiedź" #inputs>
                      </mat-form-field>
                    </div>
                  </div>
                  <div id="column-container" class="cont" formArrayName="columns">
                    <div class="loop" *ngFor="let check of field.controls['columns'].controls; let l = index" [formGroupName]="l">
                      <div class="checkbox">
                        <div class="right">
                          <mat-checkbox formControlName="value"></mat-checkbox>
                        </div>
                        <mat-form-field appearance="standard">
                          <input matInput type="text" [value]="check.value.viewValue" formControlName="viewValue" maxlength="20" #inputs>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <pre>{{invoiceForm.value | json }}</pre>
        </div>
      </form>

    </div>

  </div>
</div>
