<div id="outer-container">
  <div id="container">
    <div id="creator-container">
      <form *ngIf="loaded === true" [formGroup]="invoiceForm">
        <div id="section-name">
          <span>sth</span>
          <div id="menu">
            <fa-icon [icon]="['fas', 'ellipsis-h']" [matMenuTriggerFor]="menu"></fa-icon>
            <mat-menu #menu="matMenu" [overlapTrigger]="false">
              <button mat-menu-item>Dodaj sekcję</button>
              <button mat-menu-item>Duplikuj sekcję</button>
              <button mat-menu-item>Przenieś sekcję</button>
              <button mat-menu-item>Usuń sekcję</button>
            </mat-menu>
          </div>

        </div>
        <div id="form-title">
          <mat-form-field appearance="standard" id="title">
            <input matInput placeholder="Nazwa formularza" formControlName="title" autofocus>
          </mat-form-field>
          <mat-form-field appearance="standard" id="description">
            <textarea matInput [rows]="1" matTextareaAutosize matAutosizeMaxRows=15 type="text" maxLength="1500"
              placeholder="Opis formularza" formControlName="description"></textarea>
          </mat-form-field>
        </div>
        <div id="questions-container" formArrayName="questions">
          <!-- appSortableList  (sort)="sort(invoiceForm.controls['questions'].controls , $event)" -->
          <div *ngFor="let question of invoiceForm.controls['questions'].controls; let i = index" [formGroupName]="i"
            class="question-field">
            <!-- appSortable -->

            <!-- <div class="grip-container" appGrippable>
              <fa-icon class="grip" [icon]="['fas','grip-horizontal']" ></fa-icon>
            </div> -->
            <div class="question">

              <div class="select-container">
                <mat-form-field appearance="standard">
                  <input matInput placeholder="Pytanie" formControlName="content">
                </mat-form-field>
                <mat-form-field appearance="standard">
                  <mat-select placeholder="typ kontrolki" formControlName="select" name="control">
                    <div *ngFor="let group of selects">
                      <mat-option *ngFor="let control of group.control" [value]="control.value" (click)="changeControl(question)"
                        (focus)="saveLastSelect(question.controls.lastSelect, question.value.select)">
                        {{control.viewValue}}
                      </mat-option>
                      <div class="breakH"></div>
                    </div>
                  </mat-select>
                </mat-form-field>
              </div>

              <div id="field-data" formArrayName="FieldData" [ngSwitch]="question.value.select">
                <div class="field-loop" *ngFor="let field of question.controls.FieldData.controls; let j = index"
                  [formGroupName]="j">

                  <div class="choice answer" *ngSwitchCase="'short-answer'">
                    <mat-form-field appearance="standard">
                      <input matInput type="text" formControlName="input" placeholder="Twoja odpowiedź">
                    </mat-form-field>
                  </div>

                  <div class="choice answer" *ngSwitchCase="'long-answer'">
                    <mat-form-field appearance="standard">
                      <textarea matInput [rows]="1" type="text" formControlName="input" placeholder="Twoja odpowiedź"
                        matTextareaAutosize></textarea>
                    </mat-form-field>
                  </div>

                  <div class="dropdown" *ngSwitchCase="'dropdown-menu'" formArrayName="choiceOptions">
                    <div *ngFor="let input of field.controls.choiceOptions.controls; let k = index" [formGroupName]="k">
                      <mat-form-field appearance="standard">
                        <input matInput type="text" formControlName="viewValue" maxlength="20" #inputs>
                      </mat-form-field>
                      <fa-icon class="delete" [icon]="['fas','times']" (click)="removeField(k, field.controls.choiceOptions)"
                        *ngIf="field.controls.choiceOptions.controls.length > 1"></fa-icon>
                    </div>
                  </div>

                  <div class="linear-scale" *ngSwitchCase="'linear-scale'">
                    <div id="scale-container" class="cont">
                      <mat-form-field appearance="standard">
                        <mat-select placeholder="typ kontrolki" formControlName="minValue" name="control">
                          <mat-option *ngFor="let control of minValue" [value]="control.value">
                            {{control.value}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field appearance="standard">
                        <mat-select placeholder="typ kontrolki" formControlName="maxValue" name="control">
                          <mat-option *ngFor="let control of maxValue" [value]="control.value">
                            {{control.value}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div id="label-container" class="cont">
                      <mat-form-field appearance="standard">
                        <input matInput type="text" formControlName="minLabel" placeholder="Etykieta (opcjonalna)"
                          maxlength="30">
                      </mat-form-field>
                      <mat-form-field appearance="standard">
                        <input matInput type="text" formControlName="maxLabel" placeholder="Etykieta (opcjonalna)"
                          maxlength="30">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="choice" *ngSwitchCase="'single-choice'" formArrayName="choiceOptions">
                    <div *ngFor="let input of field.controls.choiceOptions.controls; let k = index" [formGroupName]="k">
                      <mat-radio-group formControlName="value" name="radio">
                        <mat-radio-button></mat-radio-button>
                      </mat-radio-group>
                      <mat-form-field appearance="standard">
                        <input matInput type="text" formControlName="viewValue" maxlength="20" #inputs>
                      </mat-form-field>
                      <fa-icon class="delete" [icon]="['fas','times']" (click)="removeField(k, field.controls.choiceOptions)"
                        *ngIf="field.controls.choiceOptions.controls.length > 1"></fa-icon>
                    </div>
                  </div>

                  <div class="choice" *ngSwitchCase="'multiple-choice'" formArrayName="choiceOptions">
                    <div *ngFor="let input of field.controls.choiceOptions.controls; let k = index" [formGroupName]="k">
                      <div class="checkbox" name="check">
                        <div class="right">
                          <mat-checkbox formControlName="value"></mat-checkbox>
                        </div>
                        <mat-form-field appearance="standard">
                          <input matInput type="text" formControlName="viewValue" maxlength="20" #inputs>
                        </mat-form-field>
                        <fa-icon class="delete" [icon]="['fas','times']" (click)="removeField(j, field.controls.choiceOptions)"
                          *ngIf="field.controls.choiceOptions.controls.length > 1"></fa-icon>
                      </div>
                    </div>
                  </div>

                  <div class="form" *ngSwitchCase="'single-grid'">
                    <div id="row-container" class="cont" formArrayName="rows">
                      <div *ngFor="let input of field.controls['rows'].controls; let k = index" [formGroupName]="k">
                        <mat-form-field appearance="standard">
                          <input matInput type="text" formControlName="input" placeholder="Twoja odpowiedź" #inputs2>
                        </mat-form-field>
                        <fa-icon class="delete" [icon]="['fas','times']" (click)="removeField(k, field.controls['rows'], true)"
                          *ngIf="field.controls['rows'].controls.length > 1"></fa-icon>
                      </div>
                      <app-button-single-control (change)="addRowControl(field.controls['rows'], 'wiersz')"></app-button-single-control>
                    </div>
                    <div id="column-container" class="cont" formArrayName="choiceOptions">
                      <div *ngFor="let radio of field.controls['choiceOptions'].controls; let l = index"
                        [formGroupName]="l">
                        <mat-radio-group formControlName="value" name="radio">
                          <mat-radio-button></mat-radio-button>
                        </mat-radio-group>
                        <mat-form-field appearance="standard">
                          <input matInput type="text" [value]="radio.value.viewValue" formControlName="viewValue"
                            maxlength="20" #inputs>
                        </mat-form-field>
                        <fa-icon class="delete" [icon]="['fas','times']" (click)="removeField(l, field.controls['choiceOptions'])"
                          *ngIf="field.controls['choiceOptions'].controls.length > 1"></fa-icon>
                      </div>
                      <app-button-single-control (change)="createChoiceControls(field.controls['choiceOptions'], 'kolumna')"></app-button-single-control>
                    </div>
                  </div>

                  <div class="form" *ngSwitchCase="'multiple-grid'">
                    <div id="row-container" class="cont" formArrayName="rows">
                      <div *ngFor="let input of field.controls['rows'].controls; let k = index" [formGroupName]="k">
                        <mat-form-field appearance="standard">
                          <input matInput type="text" formControlName="input" placeholder="Twoja odpowiedź" #inputs2>
                        </mat-form-field>
                        <fa-icon class="delete" [icon]="['fas','times']" (click)="removeField(k, field.controls['rows'], true)"
                          *ngIf="field.controls['rows'].controls.length > 1"></fa-icon>
                      </div>
                      <app-button-single-control (change)="addRowControl(field.controls['rows'], 'wiersz')"></app-button-single-control>
                    </div>
                    <div id="column-container" class="cont" formArrayName="choiceOptions">
                      <div class="loop" *ngFor="let check of field.controls['choiceOptions'].controls; let l = index"
                        [formGroupName]="l">
                        <div class="checkbox">
                          <div class="right">
                            <mat-checkbox formControlName="value"></mat-checkbox>
                          </div>
                          <mat-form-field appearance="standard">
                            <input matInput type="text" [value]="check.value.viewValue" formControlName="viewValue"
                              maxlength="20" #inputs>
                          </mat-form-field>
                          <fa-icon class="delete" [icon]="['fas','times']" (click)="removeField(l, field.controls['choiceOptions'])"
                            *ngIf="field.controls['choiceOptions'].controls.length > 1"></fa-icon>
                        </div>
                      </div>
                      <app-button-single-control (change)="createChoiceControls(field.controls['choiceOptions'], 'kolumna')"></app-button-single-control>
                    </div>
                  </div>

                  <app-button-single-control *ngSwitchCase="'dropdown-menu'" (change)="createChoiceControls(field.controls.choiceOptions, 'opcja')"></app-button-single-control>
                  <app-button-single-control *ngSwitchCase="'single-choice'" (change)="createChoiceControls(field.controls.choiceOptions, 'opcja')"></app-button-single-control>
                  <app-button-single-control *ngSwitchCase="'multiple-choice'" (change)="createChoiceControls(field.controls.choiceOptions, 'opcja')"></app-button-single-control>
                </div>
              </div>

              <div class="breakH"></div>
              <div class="menu-container">
                <div class="add">
                  <fa-icon [icon]="['fas','plus']" (click)="addQuestion(i)" matTooltip="{{info.add}}"
                    matTooltipPosition="below"></fa-icon>
                </div>
                <div class="menu">
                  <div id="buttons-menu">
                    <fa-icon [icon]="['fas','clone']" matTooltip="{{info.copy}}" matTooltipPosition="below" (click)="copyQuestion(question, i)"></fa-icon>
                    <fa-icon [icon]="['fas','trash']" (click)="removeQuestion(i, question.value.select)" matTooltip="{{info.delete}}"
                      matTooltipPosition="below"></fa-icon>
                  </div>
                  <div class="breakV"></div>
                  <div id="required-container">
                    <mat-slide-toggle>Wymagane</mat-slide-toggle>

                  </div>
                  <div id="question-menu">
                    <fa-icon [icon]="['fas', 'ellipsis-v']" [matMenuTriggerFor]="question_menu"></fa-icon>
                    <mat-menu #question_menu="matMenu" [overlapTrigger]="false">
                      <button mat-menu-item>Dodaj sekcję</button>
                      <button mat-menu-item>Duplikuj sekcję</button>
                      <button mat-menu-item>Przenieś sekcję</button>
                      <button mat-menu-item>Usuń sekcję</button>
                    </mat-menu>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="box"  *appDraggableHelper>coś</div> -->
            <!-- <pre>{{question.value.QuestionPosition}}</pre> -->
          </div>
        </div>
        <pre>{{invoiceForm.value | json }}</pre>
      </form>
    </div>
  </div>
</div>
