<app-dashboard-bar [groupTitle]=groupTitle [buttonDets]=buttonDets (buttonClick)="openAddUserDialog()"></app-dashboard-bar>
<mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let group of groups$">
      <mat-expansion-panel-header>
        {{group.name}}
      </mat-expansion-panel-header>
      <app-dashboard-list [itemArr]=" group.users"  [emptyListInfo]=emptyListInfo>
          <ng-template let-item>
            <app-dashboard-tile [item_tile]=item.user (tileClick)="openUserUpdateDialog(item.user)">
                <app-users-tile [user]=item.user></app-users-tile>
            </app-dashboard-tile>
            <app-icon-button [type]="'fas'" [icon]="'times'" (buttonClick)="openConfimDeleteDialog(item.user.id,group.id)"></app-icon-button>
          </ng-template>
        </app-dashboard-list>
        <mat-action-row>
            <button mat-button color="primary" (click)="deleteGroup();">Edytuj</button>
            <button mat-button color="primary" (click)="deleteGroup(group.id)">Usuń grupę</button>
          </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

