@import '../../../../../../styles/colors.scss';

.surveyBox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  outline: none;
  user-select: none;
  // cursor: pointer;
  .survey {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    outline: none;
    font-weight: 400;
  }
  .select.survey {
    // background-color: rgba($accent, 0.1);

    .address {
      font-weight: 600;
    }
    .content {
      //   color: $grey;
    }
  }
  .marker {
    flex: 0 0 5px;
  }

  .options {
    flex: 0 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    padding: 3px;

    text-overflow: clip;
    max-width: 80%;

    .title {
      flex: 1 1 auto;

      margin: 2px;

      //   color: $black;
      font-size: 1em;
      font-weight: 400;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .address {
      margin: 1px;

      //   color: $grey-dark;
      font-size: 0.9em;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .content {
      margin: 2px;

      //   color: $grey;
      font-size: 0.8em;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .unread {
    .title {
      font-weight: 600;
    }
    .marker {
      //   background-color: $accent;
    }
    .address {
      font-weight: 600;
      //   color: $accent;
    }
  }

  .date {
    padding: 2px;
    text-align: center;
    font-size: 0.8em;
    // color: $grey;
    // background-color: $grey-ultra-light;
  }
}
.nosurveys {
  padding: 20px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: Gray;
}
